.about-div {
    text-align: center;
    background-color: #f2f2f2;
    padding-left: 10%;
    padding-right: 10%;
}
dl {
    color: green;
}

.social-media-div {
    text-align: center;
}
.link-img {
    height: 50px;
    width: 50px;
}

a:visited {
    color: green;
}